body {
    margin: 0;
    padding: 0;
    font-family: "Courier New", sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
}

button {
    cursor: pointer;
}

.f-center {
    display: flex;
    justify-content: center;
}

.f-center-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
